<section id="lab_social_icon_footer">
  <center>
    <div class="container">
        <div class="text-center center-block">
            <a target="_blank" href="https://www.facebook.com/Balaji2810"><i id="social-fb" class="fa fa-facebook fa-5x social"></i></a>
            <a target="_blank" href="https://www.instagram.com/balaji.official/"><i id="social-insta" class="fa fa-instagram fa-5x social"></i></a>
            <a target="_blank" href="https://github.com/Balaji2810"><i id="social-git" class="fa fa-github fa-5x social"></i></a>
            <a target="_blank" href="https://www.hackerrank.com/lub2code"><i id="social-hr" class="fab fa-hackerrank fa-5x social"></i></a>
        </div>
    </div>
  </center>
</section>
