{% extends "body.html" %}

{% block body %}
<h2 class="ui header ui teal ribbon label">Growth Factor</h2><span class="ui right floated header">  (<a target="_blank" href="https://data.europa.eu/">Source</a>)</span>

<br>
<br>
<div class="ui three column grid">
  <div class="column">
    <div class="ui input ">
    <input id="countryname" autoComplete="on" list="code" placeholder="Country Name"/>
    </div>
    <datalist  id="code"  >
    <option value="">Select</option>
    {%for i in data_growth%}
          <option value="{{i.1}}">
    {%endfor%}
  </datalist ></div>
  <div class="column">
    <div class="ui input ">
      <input id="days" type="text" placeholder="for the next ____ days">
    </div>
</div>
  <div class="column"><button onclick="graph()" class="ui teal basic button">Calculate</button></div>
</div>
<br>
<br>

<h2 class="ui header">
  Note :
</h2>
<div class="ui bulleted list">
  <div class="item">Enter '0' days to view the current status.</div>
  <div class="item">The graph grows linear based on the number of days.</div>
  <div class="item">The graph is ploted from the first case which has been recorded.</div>
  <div class="item">The value is not accurate, if we are not taking any steps then this will be the case.</div>
</div>

<br>
<br>

<div class="ui statistics">
  <div class="red statistic">
    <div class="label">
      The Total affected people will be
    </div>
    <div id="total" class="value">

    </div>

  </div>

</div>

<div id="my-chart" class="ct-chart ct-square" ></div>





{% endblock %}
