
<div class="ui massive five item stackable container menu">
  <div class="item">
    <i class="fab fa-btc"></i>alaji's Web Scraping
  </div>
  <div class="item">

  </div>
  <a class="item" href="/">
      <i class="file home icon"></i> Home
  </a>
  <a class="item" href="/report">
      <i class="file alternate icon"></i> Report
  </a>



    <div class="ui simple dropdown item">
    <i class="fas fa-chart-line icon"></i>Growth <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/growth">Growth Factor</a>
        <a class="item" href="/growth_Holt_Winters">Holt Winter's</a>
      </div>
    </div>
</div>
